<div class="card rounded shadow-sm p-3">
  <app-filtrar
    [filtro]="false"
    [rotaLink]="'/taxasdeir/detalhe'">
  </app-filtrar>
  <br>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Tipo de Ativo</th>
        <th>Percentual</th>
        <th>Data início</th>
        <th>Data fim</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="taxasDeIR && taxasDeIR.length">
      <tr *ngFor="let taxaDeIR of taxasDeIR" >
        <td></td>
        <td>{{ pegaTipoDeAtivo(taxaDeIR.tipoDeAtivo) }}</td>
        <td>{{ taxaDeIR.percentual | currency:'BRL':'':'1.4-4' }}</td>
        <td>{{ taxaDeIR.dataInicio | DateFormatPipe }}</td>
        <td>{{ taxaDeIR.dataFim | DateFormatPipe }}</td>
        <td>
          <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal($event, template, taxaDeIR.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!taxasDeIR.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhuma Taxa de IR foi encontrada!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar a Taxa de IR {{this.taxaDeIRId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>


